.input-box{


    margin-left: 270px;     
    border: 2px solid black;
    width: 400px;
    height: 100vh;

}
.input-box-name{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 30px;
       margin-top: 10px;
       margin-left: 10px;
}
.input-search{
     margin-top: 10px;
     margin-left: 10px;
      border: none;
      background-color: rgb(227, 223, 223);
      width: 350px;
    height: 40px;
      border-radius: 10px;
}
